body, html {
    width: 100vw;
    min-height: 100vh;
    background: black;
    margin: 0;
    overflow-x: hidden;
}

table {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 38px;
}

* {
    color: limegreen;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: black;
    border: none;
}

button {
    background-color: black;
    border: 1px lime solid;

}

th{
    border: 1px lime solid;
}

td{
    border: 1px lime solid;
}

table input {
    width: 100%;
}

table button {
    width: 100%;
    height: 100%;
}