html,
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: black;
    }

    * {
        color: lime;
        font-size: 16px;
        font-family: sans-serif;
    }

    #container {
        width: fit-content;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        display: flex;
    }

    #container_geral {
        width: 65vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #second_container {
        width: 5vw;
    }

    #hide_password {
        width: 2vw;
        aspect-ratio: 1/1;
    }

    #seye {
        width: 100%;
        aspect-ratio: 1/1;
    }

    #password_container {
        display: flex;
        gap: 2vh;
    }

    #password {
        height: fit-content;
    }

    #container_info {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    h1 {
        font-size: 4vw;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 2vw;
    }

    input {
        margin-left: 2px;
        border: 1px solid lime;
        background-color: rgb(109, 109, 109);
    }

    button {
        width: 40%;
        border: 1px solid rgb(0, 161, 0);
        background-color: rgb(58, 58, 58);
        color: rgb(0, 161, 0);
        cursor: pointer;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

    button:hover {
        border: 1px solid rgb(0, 255, 0);
        background-color: rgb(189, 189, 189);
        color: rgb(0, 255, 0);
    }

    #return {
        width: 9vw;
        position: relative;
        top: 4vh;
        left: 10vw
    }